@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Patrick+Hand&display=swap');
* {
    box-sizing: border-box;
}
:root{
    --primary-color: #ddc8df;
    --black: #727070;
    --width-break: 600px
    }
    body {
     background-color: var(--primary-color);
     text-align: center;
     font-family: 'Patrick Hand', cursive;
     color: #333333;
     display: grid;
     place-content: center;
     margin: auto;
    }
     h1{
        font-size: 2rem;
     }
    .txt-area {
        width: 700px;
        border-width: 2px;
        border-radius: 1rem;
        height: 8rem;
        margin: 1rem 1rem;
        font-size: large;
        font-family: inherit;
        font-weight: 50px;

    }

    .txt-area::placeholder {
        font-weight: lighter;
      }
 
        button 
        {
        background-color: #9374a1;
        padding: 1rem 2rem;
        margin-top: 2rem;
        border-radius: 1rem;
        width: max-content; 
        margin: auto;
        font-family: 'Patrick Hand', cursive;
        font-size: 20px;
    }

button:hover{
    background-color: #d0ccd1;
    color: #9374a1;
}

section {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
}

section p {
    max-width: var(--width-break);
    margin: auto;
}


